@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#FFFF, #05516e);
}
#root {
  width: 100%;
}
.container{
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  max-width: 410px;
  border-radius: 10px;
  background-color: rgba(4, 15, 22, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.search-section{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px;
}
.search-section .search-form{
  height: 54px;
  width: 100%;
  position: relative;
}
.search-section .search-form span{
  color: #818181;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) ;
  left: 16px;
}
.search-section .search-input{
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0 20px 0 50px;
  text-transform: uppercase;
}
.search-section .search-input::placeholder{
  color: #818181;
  text-transform: none;
}
.search-section .location-button{
  height: 54px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.search-section .location-button:hover{
  background: rgba(255, 255, 255, 0.4);
}
.weather-section :where(h2, p){
  color: #FFFF;
}
.weather-section .current-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 30px 0
}
.current-weather .weather-icon{
  width: 140px;
  aspect-ratio: 1; 
}
.current-weather .temperature{
  margin: 20px 0;
  font-size: 3rem;
  display: flex;
}
.current-weather h1{
  color: #FFFF;
  font-weight: 300;
  font-size: 2rem;
}
.current-weather .temperature span{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 5px 0 0 2px;
}
.current-weather .description{
  text-transform: capitalize;
  font-size: 1.2rem;
}
.szczegoly {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  justify-content: center; 
  column-gap: 25px;
  row-gap: 15px;
  margin-top: 20px;
  padding: 0 40px 0 40px;
}

.szczegoly p{
  font-size: 0.8rem;
  color: #ccc;
  text-transform: uppercase;
}
.szczegoly-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}


.hourly-forecast .weather-item .weather-icon{
  width: 28px;
  aspect-ratio: 1;
}
.hourly-forecast .weather-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.hourly-forecast{
  padding: 25px 25px;
}
.hourly-forecast .weather-list{
  display: flex;
  list-style: none;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: thin;
  padding-bottom: 15px;
  margin-bottom: -15px;
  scrollbar-color: transparent transparent;
}
.hourly-forecast:hover .weather-list {
  scrollbar-color: #ffffff transparent;
}